
/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Trade+Winds&display=swap');
/* GENERALES */
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
#container{
    width: 100%;
    height: 100vh;
    margin: 0px;
    background: linear-gradient(to right,#ff8647,#fdad69,#ffdd90);

    display: flex;
    justify-content: center;
    align-items: center;

}

#wrap{
    width: 95%;
    height: 500px;
    background-color: #1b1b1b;
    box-shadow:  20px 20px 30px #4e3b24;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

#tarjeta{
    width: 24%;
    height: 320px;
    border-radius: 15px;
    background-color: #333;
    text-align: center;
    line-height: 320px;
    overflow: hidden;
}

#fondo{
    color: #ffffff08;
    font-size: 126px;
    margin-left: -16px;
    font-family: "Trade Winds", system-ui;
  font-weight: 400;
  font-style: normal;
}
